@font-face {
	font-family: Rus;
	src: url(../fonts/Russian.ttf);
}

@font-face {
	font-family: Ara;
	src: url(../fonts/Arabic.ttf);
}

* {
	margin: 0vh;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;

	font-family: Rus;
 	text-align: center;

	transition: 2s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div {
	width: 90%;

	display: flex;
	flex-direction: column;

	margin: auto;
	padding: 3vh 0vh;
	gap: 2vh;

	border-radius: 6vh;
}

table {
	width: 100%;
}

h1 {
	font-size: 8vh;
}

h2 {
	font-size: 6.25vh;
}

h3 {
	font-size: 5vh;
}

td {
	width: 33.3%;
	font-size: 4.6vh;
	font-weight: 600;
	line-height: 5.5vh;
}

td:last-child {
	font-family: Ara;
}
